<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicholas.mapper.DataCountMapper">
  <resultMap id="BaseResultMap" type="com.nicholas.domain.DataCount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="true_sum" jdbcType="BIGINT" property="trueSum" />
    <result column="false_sum" jdbcType="BIGINT" property="falseSum" />
    <result column="comment_sum" jdbcType="BIGINT" property="commentSum" />
  </resultMap>

  <sql id="Base_Column_List">
    id, data_id, true_sum, false_sum, comment_sum
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_count
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_count
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.nicholas.domain.DataCount">
    insert into data_count (id, data_id, true_sum, 
      false_sum, comment_sum)
    values (#{id,jdbcType=BIGINT}, #{dataId,jdbcType=INTEGER}, #{trueSum,jdbcType=BIGINT}, 
      #{falseSum,jdbcType=BIGINT}, #{commentSum,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.nicholas.domain.DataCount">
    insert into data_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="trueSum != null">
        true_sum,
      </if>
      <if test="falseSum != null">
        false_sum,
      </if>
      <if test="commentSum != null">
        comment_sum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=INTEGER},
      </if>
      <if test="trueSum != null">
        #{trueSum,jdbcType=BIGINT},
      </if>
      <if test="falseSum != null">
        #{falseSum,jdbcType=BIGINT},
      </if>
      <if test="commentSum != null">
        #{commentSum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.nicholas.domain.DataCount">
    update data_count
    <set>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=INTEGER},
      </if>
      <if test="trueSum != null">
        true_sum = #{trueSum,jdbcType=BIGINT},
      </if>
      <if test="falseSum != null">
        false_sum = #{falseSum,jdbcType=BIGINT},
      </if>
      <if test="commentSum != null">
        comment_sum = #{commentSum,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.nicholas.domain.DataCount">
    update data_count
    set data_id = #{dataId,jdbcType=INTEGER},
      true_sum = #{trueSum,jdbcType=BIGINT},
      false_sum = #{falseSum,jdbcType=BIGINT},
      comment_sum = #{commentSum,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>