<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicholas.mapper.DataMapper">

  <resultMap id="BaseResultMap" type="com.nicholas.domain.Data">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="poi" jdbcType="VARCHAR" property="poi" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="hot_value" jdbcType="BIGINT" property="hotValue" />
    <result column="accuracy" jdbcType="DOUBLE" property="accuracy" />
    <result column="data_uid" jdbcType="VARCHAR" property="dataUid" />
    <result column="true_sum" jdbcType="BIGINT" property="trueSum" />
    <result column="false_sum" jdbcType="BIGINT" property="falseSum" />
    <result column="comment_sum" jdbcType="BIGINT" property="commentSum" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uid, creation_time, longitude, latitude, poi, content, img_url, video_url, state, 
    sort, hot_value, accuracy ,data_uid ,true_sum ,false_sum ,comment_sum
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from data
    where data_uid = #{dataUid,jdbcType=VARCHAR}
  </select>

  <select id="selectAllData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from data
    where state = 0
    order by sort desc , creation_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.nicholas.domain.Data">
    insert into data (id, uid, creation_time, 
      longitude, latitude, poi, 
      content, img_url, video_url, 
      state, sort, hot_value, 
      accuracy ,data_uid,true_sum ,false_sum ,comment_sum)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{poi,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{hotValue,jdbcType=BIGINT}, 
      #{accuracy,jdbcType=DOUBLE} ,#{dataUid,jdbcType=INTEGER} ,#{trueSum,jdbcType=VARCHAR},
      #{falseSum,jdbcType=VARCHAR},#{commentSum,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.nicholas.domain.Data">
    insert into data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="poi != null">
        poi,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="hotValue != null">
        hot_value,
      </if>
      <if test="accuracy != null">
        accuracy,
      </if>
      <if test="dataUid != null">
        data_uid,
      </if>
      <if test="trueSum != null">
        true_sum,
      </if>
      <if test="falseSum != null">
        false_Sum,
      </if>
      <if test="commentSum != null">
        comment_Sum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="poi != null">
        #{poi,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="hotValue != null">
        #{hotValue,jdbcType=BIGINT},
      </if>
      <if test="accuracy != null">
        #{accuracy,jdbcType=DOUBLE},
      </if>
      <if test="dataUid != null">
        #{dataUid,jdbcType=INTEGER},
      </if>
      <if test="trueSum != null">
        #{trueSum,jdbcType=VARCHAR},
      </if>
      <if test="falseSum != null">
        #{falseSum,jdbcType=VARCHAR},
      </if>
      <if test="commentSum != null">
        #{commentSum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.nicholas.domain.Data">
    update data
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="poi != null">
        poi = #{poi,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="hotValue != null">
        hot_value = #{hotValue,jdbcType=BIGINT},
      </if>
      <if test="accuracy != null">
        accuracy = #{accuracy,jdbcType=DOUBLE},
      </if>
      <if test="dataUid != null">
        data_uid = #{dataUid,jdbcType=INTEGER},
      </if>
      <if test="trueSum != null">
        true_sum = #{trueSum,jdbcType=VARCHAR},
      </if>
      <if test="falseSum != null">
        false_sum = #{falseSum,jdbcType=VARCHAR},
      </if>
      <if test="commentSum != null">
        comment_sum = #{commentSum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.nicholas.domain.Data">
    update data
    set uid = #{uid,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      poi = #{poi,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      hot_value = #{hotValue,jdbcType=BIGINT},
      accuracy = #{accuracy,jdbcType=DOUBLE},
      data_uid = #{dataUid,jdbcType=INTEGER},
      true_sum = #{trueSum,jdbcType=VARCHAR},
      false_sum = #{falseSum,jdbcType=VARCHAR},
      comment_sum = #{commentSum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>