<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicholas.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.nicholas.domain.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="lastlogin_date" jdbcType="TIMESTAMP" property="lastloginDate" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="level_value" jdbcType="BIGINT" property="levelValue" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickname" jdbcType="VARCHAR" property="nickName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uid, account, password, register_date, lastlogin_date, account_status, phone_number, 
    user_level, level_value ,name ,nickname
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where account = #{account}
  </select>

  <select id="selectByPrimaryPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where phone_number = #{phone}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.nicholas.domain.User">
    insert into user (id, uid, account, 
      password, register_date, lastlogin_date, 
      account_status, phone_number, user_level, 
      level_value ,name ,nickname)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, #{lastloginDate,jdbcType=TIMESTAMP}, 
      #{accountStatus,jdbcType=INTEGER}, #{phoneNumber,jdbcType=INTEGER}, #{userLevel,jdbcType=INTEGER}, 
      #{levelValue,jdbcType=BIGINT} ,#{name,jdbcType=VARCHAR} ,#{nickName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.nicholas.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="lastloginDate != null">
        lastlogin_date,
      </if>
      <if test="accountStatus != null">
        account_status,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="levelValue != null">
        level_value,
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="levelValue != null">
        #{levelValue,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.nicholas.domain.User">
    update user
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
<!--      <if test="account != null">-->
<!--        account = #{account,jdbcType=VARCHAR},-->
<!--      </if>-->
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        lastlogin_date = #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="accountStatus != null">
        account_status = #{accountStatus,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=INTEGER},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="levelValue != null">
        level_value = #{levelValue,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.nicholas.domain.User">
    update user
    set uid = #{uid,jdbcType=INTEGER},
--       account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      lastlogin_date = #{lastloginDate,jdbcType=TIMESTAMP},
      account_status = #{accountStatus,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=INTEGER},
      user_level = #{userLevel,jdbcType=INTEGER},
      level_value = #{levelValue,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      nickname = #{nickName,jdbcType=VARCHAR}
    where account = #{account,jdbcType=VARCHAR}
  </update>
</mapper>